html {
  background-color: #1155ccff;
}

h1 {
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 5px;
}

#bzr {
  background-color: white;
  color: #1155ccff;
  font-size: 50px;
  padding: 5vw;
  font-family: "Gabarito", sans-serif;
  width: 100%;
}

#bzr:hover {
  cursor: pointer;
  background-color: #DFDFDF;
}

.flex {
  display: flex;
  justify-content: center;
  align-itmes: center;
  text-align: center;
}
